<a href="https://colab.research.google.com/github/GOVINDFROMINDIA/PYTHON-FOR-DATA-SCIENCE/blob/pandas/panda_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import os
import pandas as pd
import numpy as np

os.chdir("/content")
cars_data=pd.read_csv('toyota.csv',index_col=0)  #indexing unnamed as index column


print(cars_data)

14360 size

Index(['Price', 'Age', 'KM', 'FuelType', 'HP', 'MetColor', 'Automatic', 'CC',
       'Doors', 'Weight'],
      dtype='object') columns
(1436, 10) column,row
Index        11488
Price        11488
Age          11488
KM           11488
FuelType     11488
HP           11488
MetColor     11488
Automatic    11488
CC           11488
Doors        11488
Weight       11488
dtype: int64 memory
      Price   Age     KM FuelType   HP  MetColor  Automatic    CC  Doors  \
0     13500  23.0  46986   Diesel   90       1.0          0  2000  three
1     13750  23.0  72937   Diesel   90       1.0          0  2000      3
2     13950  24.0  41711   Diesel   90       NaN          0  2000      3
3     14950  26.0  48000   Diesel   90       0.0          0  2000      3
4     13750  30.0  38500   Diesel   90       0.0          0  2000      3
...     ...   ...    ...      ...  ...       ...        ...   ...    ...
1431   7500   NaN  20544   Petrol   86       1.0          0  1300      3
1432  10845  72.0     ??   Petrol   86       0.0          0  1300      3
1433   8500   NaN  17016   Petrol   86       0.0          0  1300      3
1434   7250  70.0     ??      NaN   86       1.0          0  1300      3
1435   6950  76.0      1   Petrol  110       0.0          0  1600      5

      Weight
0       1165
1       1165
2       1165
3       1165
4       1170
...      ...
1431    1025
1432    1015
1433    1015
1434    1015
1435    1114

[1436 rows x 10 columns]